@import "tailwindcss";
 /* .leaflet-container {
     width: 100%;
     height: 100vh;
   }
   #map {
     height: 500px;
     width: 100%;
   } */
 
   .leaflet-container {
     height: 500px !important;
     width: 100% !important;
   }
 @import "leaflet/dist/leaflet.css";